*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: #ffffff;
}

.header {
    font-size: 20px;
    background: #ffffff;
    height: 92px;
    width: 1600px;
    width: 100%;
    height: 92px;
    left: 20px;
    top: 0px; 
}

.header h1 {
    font-size: 20px;
}

.header li {
    display: inline-block;
}

.section-principal h2 {
    font-size: 80px;
    font-weight: bold;
}

.section-principal div {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.section-principal img {
    width: 500px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.section-second {
    position: center;
    display: inline-block;
    width: 100%;
    background: #F3F3F3;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.section-second h2 {
    position: center;
    width: 700px;
    font-size: 40px;
    line-height: 48px;
    display: inline-block;
    text-align: center;
}

.section-second li {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.section-second img {
    height: 450px;
    width: 700px;
    width: 100%;
    align-items: center;
}

.section-third h2 {
    font-size: 65px;
    font-weight: bold;
    line-height: 65px;
}

.section-third div {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.section-third img {
    width: 500px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.section-fourth h2 {
    font-size: 65px;
    font-weight: bold;
    line-height: 65px;
}

.section-fourth div {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.section-fourth img {
    width: 300px;
    width: 45%;
    height: 500px;
    object-fit: cover;
}

.section-fifth h2 {
    font-size: 65px;
    font-weight: bold;
    line-height: 65px;
}

.section-fifth div {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.section-fifth img {
    width: 500px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.section-run {
    background-image: url('./images/corredor.png');
    height: 720px;
    width: 1600px;
    width: 100%;
}

.section-run img {
    width: 44px;
    height: 45px;
    left: 24px;
    top: 4280px;   
}

.section-run span {
    font-weight: 700px; 
    font-size: 104px; 
    line-height: 104px;
    color: white;
    font-weight: bold;
}

.section--sixth h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
}

.section--sixth div {
    display: inline-block;
    width: 100%;
}

.section--sixth img {
    width: 500px;
    width: 50%;
    height: 500px;
    display: inline-block;
    object-fit: cover;
}

.section--sixth form {
    display: inline-block;
    width: 50%;
    align-items: right;
    background: #F3F3F3;
    border-radius: 8px;
}

.footer {
    background-color: #f3f3f3;
    width: 100%;
}

.footer h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
}

.footer ul {
    display: inline-block;
    width: 30%;
}

.footer li {
    text-decoration: none;
    text-align: left;
}